@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}

body {
  box-sizing: border-box;
}

.header {
  height: 5rem;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.162) 1px 1px 1px 1px;
}
.headBox1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headBox1 img {
  height: 4rem;
  padding-left: 20px;
}
.menuBar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.menuBar li {
  padding: 12px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}
.menuBar li:hover {
  cursor: pointer;
}
.menuBar li i {
  padding-left: 5px;
  font-size: 12px;
}
.headBox2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}
.headBox2 p {
  font-size: 15px;
  font-weight: 500;
  padding-right: 20px;
}
.menuBtn {
  padding: 10px;
  background: #0187e0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}
.menuBtn:hover {
  cursor: pointer;
  background: #006db8;
}
.banner {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.bannerBox1 {
  padding-top: 50px;
  width: 45%;
}
.bannerBox1 p {
  padding-bottom: 20px;
}

.bannerBox1 h1 {
  font-size: 50px;
  padding-bottom: 50px;
}
.bannerBox1 h3 {
  font-weight: 500;
  padding-bottom: 35px;
}
.bannerBtn {
  padding: 15px;
  width: 10rem;
  background: #0187e0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}
.bannerBtn:hover {
  cursor: pointer;
  background: #006db8;
}

.bannerBox2 img {
  height: 33rem;
  padding-top: 70px;
}
/*Start of ProductInfo*/
.ProductInfo {
  width: 100%;
  height: 35rem;
}
.ProductInfo h1 {
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 80px;
}

.infoBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.infoBox1 {
  width: 19rem;
  height: 14rem;
  background: white;
  border-top: 2px solid rgb(0, 0, 0);
}
.infoBox1 h3 {
  font-size: 23px;
  color: #006db8;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*End of ProductInfo*/

/*start of appDetails*/
.appDetails {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*End of appDetails*/

/*Start of .appBox*/
.appBox {
  width: 80%;
  height: 32rem;
  background: #0187e0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*End of .appBox*/

.appBox img {
  height: 30rem;
}

.appInfo {
  width: 45%;
  color: white;
}
.appInfo h1 {
  font-size: 38px;
  padding-bottom: 30px;
}
.appInfo p {
  padding-bottom: 20px;
}

.appInfo ul li {
  padding-bottom: 20px;
}

/*End of .appBox*/
.partners {
  width: 100%;
  height: 30rem;
}
.partners h1 {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
}
.partnerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/*End of .appBox*/

/*Start of Contact*/
.contact {
  height: 30rem;
  width: 100%;
  background: #0187e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact h1 {
  font-size: 2.5rem;
  padding-bottom: 30px;
  padding-left: 30px;
  color: white;
}

.contact p {
  font-size: 1.3rem;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
.contactBox {
  margin-left: 30px;
  padding: 15px;
  width: 10rem;
  background: white;
  color: #0187e0;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.contact img {
  height: 30rem;
}
/*End of Contact*/
